div h2 {
    color: #fff;
    font-size: 35px;
    padding-top: 80px;
}
div.tb{
    background-color: #fff;
    width: 900px;
    height: 560px;
    margin: 50px auto;
}
div.tb{
    display: flex;
}
div.tb1{
    width: 50%;
    height: 100%;
    background-image: url(./anhquan.jpg);
    background-repeat: no-repeat;
    /* background-color: rgb(180, 48, 48); */
}
div.tb2{
    width: 50%;
    height: 100%;
    background-color: rgb(13, 14, 14);
    
}
div.tb2 input{
    width: 300px;
    height: 50px;
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    font-weight: 200;
    background-color: transparent;
    border-bottom: 5px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto 20px;
    display: block;
    outline: none;
}
.tb2 input:hover{
    color:#fff;
	border-bottom:5px solid #3970b0;
}
button.tb3{
    width: 335px;
    margin: 30px auto;
    display: block;
    height: 50px;
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    color: #fff;
    background-color: #3970b0;
    border-color: transparent;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
p.tb4{
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.fa-facebook{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.tb5{
    text-align: center;
}
.tb5 li{
    display:inline-block;
	margin:0;
}
.tb5 li a i.fa-brands {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
.fa-brands {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.tb5 li a i.fa-brands:hover{
    -webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	-moz-animation: spin 2s linear infinite;
	-o-animation: spin 2s linear infinite;
	-ms-animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }   /*Để quay 1 vòng khi hover*/
  }
  .tb5 li a i.fa-brands.fa-facebook:hover{
    background-color:#3b5998;
	color:#fff;
	border-color:#3b5998;
  }
  .tb5 li a i.fa-brands.fa-twitter:hover{
    background-color:#1da1f2;
	color:#fff;
	border-color:#1da1f2;
  }
  .tb5 li a i.fa-brands.fa-youtube:hover{
    background-color:#dd4b39;
	color:#fff;
	border-color:#dd4b39;
  }
  .tb5 li a i.fa-brands.fa-google-plus:hover{
    background-color:#dd4b39;
	color:#fff;
	border-color:#dd4b39;
  }
  div.dn{
      background-color:rgb(48, 34, 48);
  }
  div.dn input{
    width: 300px;
    height: 50px;
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    font-weight: 200;
    background-color: transparent;
    border-bottom: 5px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto 20px;
    display: block;
    outline: none;
  }
  div.dn{
      width: 50%;
  }
  div.dn1{
     padding-top: 150px;
  }
  button.dn2{
    width: 335px;
    margin: 30px auto;
    display: block;
    height: 50px;
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    color: #fff;
    background-color: #3970b0;
    border-color: transparent;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
  }
  div.dn p{
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 20px;
  }